@charset "utf-8";

:root {
    --verde: #03A696;
    --creme: #F2AF88;
    --white: #F2F2F2;
    --cinzaEscuro: #595959;
    --preto: #000000;
}

/* reset básico */

* {
    box-sizing: border-box;   
    padding: 0;
    margin: 0; 
}

body {
    width: 100%;
    height: 100vh;
    margin: 0 4%;
    background-color: var(--preto);
    overflow-x: hidden;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: var(--white);
}

#inicio {
    
}