@charset "utf-8";

:root {
    --verde: #03A696;
    --creme: #F2AF88;
    --white: #F2F2F2;
    --cinzaEscuro: #595959;
    --preto: #000000;
}

/* reset básico */

* {
    box-sizing: border-box;   
    padding: 0;
    margin: 0; 
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--preto);
    overflow-x: hidden;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: var(--white);
}

/* HEADER - CABECALHO */

header {
    position: fixed;
    top: 0;
    z-index: 2;
    padding: 1.8% 0;
    width: 100vw;
}

/* LOGO */

.logo {
    margin-left: 4%;
    float: left;
}

.logo a img{
    width: 199px;
}

/* NAV - MENU */

.menu {
    margin-right: 9%;
    float: right;
    /*display: flex;
    justify-content: space-between;*/
}

.menu ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.menu ul li {
    padding: 0 2%;
    text-transform: capitalize;
}

.menu ul li:last-child {
    padding-right: 0;
}

.menu ul li hr {
    opacity: 0;
    width: 0%;
    transition: .3s;
    border-color: var(--verde);
}

.menu ul li:hover hr {
    opacity: 1;
    width: 100%;
    transition: .3s;
}

.menu ul li a {
    text-decoration: none;
    color: var(--white);
}

.menu-icon {
    display: none;
}

#menu-icon-img {
    width: 20px;
    cursor: pointer;
}

/* MAIN */

main {
    position: relative;
    margin-top: 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main section.left {
    float: left;
    width: 52%;
    padding: 0 8% 0 3%;
}


.left article {
    text-transform: uppercase;
}

.left article p:first-child {
    font-size: 1em;
    font-weight: bold;
}

.left article p:last-child {
    font-weight: bold;
    color: var(--verde);
    font-size: 1.5em;
}

.left article p:last-child::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation:  pisca .7s infinite;
}

@keyframes pisca {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.left article h1 {
    font-size: 3.4em;
    font-weight: 700;
    color: #F2AF88;
}
.btn-container {
    margin-top: 5%;
}
.btn-container button {
    padding:  10px;
    width: 150px;
    border-radius: 8px;
    margin-top: 0 5% 5% 3%;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    color: var(--white);
    background-color: transparent;
    border: 1px solid #ffffff;
}

.btn-container button hr {
    opacity: 0;
    width: 0%;
    transition: .3s;
    border-color: var(--creme);
}

.btn-container button:hover hr {
    opacity: 1;
    width: 100%;
    transition: .3s;
}

main .right {
    float: right;
}

main .right img {
    width: 100%;
    padding-right: 5%;
}